@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-800
}

.skip-to-content-link {
    background: navy;
    color: white;
    min-height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translate3d(-50%, -100%, 0);
    transition: transform 0.3s;
    z-index: 11;
}

.skip-to-content-link:focus {
    transform: translate3d(-50%, 0, 0);
}
